%li
  = form.check_box :member_events, class: 'form-check-input'
  = form.label :member_events, class: 'list-label form-check-label gl-ml-1' do
    %strong= s_('Webhooks|Member events')
  %p.text-muted.gl-ml-1
    = s_('Webhooks|This URL will be triggered when a group member is created/updated/removed')
